@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 89% 97%;
    --foreground: 206 89% 20%;

    --card: 206 82% 85%;
    --card-foreground: 206 89% 20%;

    --popover: 206 82% 85%;
    --popover-foreground: 206 89% 20%;

    --primary: 206 89% 61%;
    --primary-foreground: 206 89% 97%;

    --secondary: 206 82% 85%;
    --secondary-foreground: 206 89% 20%;

    --muted: 206 82% 85%;
    --muted-foreground: 206 89% 40%;

    --accent: 206 89% 61%;
    --accent-foreground: 206 89% 97%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 206 82% 85%;
    --input: 206 82% 85%;
    --ring: 206 89% 61%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 206 89% 10%;
    --foreground: 206 89% 90%;

    --card: 206 82% 20%;
    --card-foreground: 206 89% 90%;

    --popover: 206 82% 20%;
    --popover-foreground: 206 89% 90%;

    --primary: 206 89% 61%;
    --primary-foreground: 206 89% 97%;

    --secondary: 206 82% 20%;
    --secondary-foreground: 206 89% 90%;

    --muted: 206 82% 20%;
    --muted-foreground: 206 89% 60%;

    --accent: 206 89% 61%;
    --accent-foreground: 206 89% 97%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 206 82% 20%;
    --input: 206 82% 20%;
    --ring: 206 89% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}