@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 140 30% 92%;
    --foreground: 147 27% 12%;

    --card: 0 0% 98%;
    --card-foreground: 147 27% 12%;

    --popover: 0 0% 100%;
    --popover-foreground: 147 27% 12%;

    --primary: 147 27% 12%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 147 27% 12%;

    --muted: 0 0% 96%;
    --muted-foreground: 147 27% 20%;

    --accent: 0 0% 96%;
    --accent-foreground: 147 27% 12%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 89%;
    --input: 0 0% 89%;
    --ring: 0 0% 89%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 147 27% 12%;
    --foreground: 0 0% 100%;

    --card: 147 27% 10%;
    --card-foreground: 0 0% 100%;

    --popover: 147 27% 12%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 98%;
    --primary-foreground: 147 27% 12%;

    --secondary: 147 27% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 147 27% 15%;
    --muted-foreground: 0 0% 65%;

    --accent: 147 27% 15%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 147 27% 15%;
    --input: 147 27% 15%;
    --ring: 0 0% 83%;
  }
}

@layer base {
  * {
    @apply border-border font-['Poppins'];
  }

  body {
    @apply bg-testera-background text-foreground;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-testera-heading;
  }

  p {
    @apply text-testera-subheading;
  }
}